@tailwind base;
@tailwind components;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  background-color: rgb(245, 247, 246);
  line-height: 1.6;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

@tailwind utilities;
