@tailwind base;
@tailwind components;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue',
    HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  background-color: rgb(245, 247, 246);
  line-height: 1.6;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

.tag {
  margin: 3px;
  padding: 3px 6px;
  text-decoration: none;
  border-left: solid 4px rgb(63, 100, 93);
  color: #fff;
  @apply bg-customGreen;
}

@tailwind utilities;
