@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  min-height: 100vh;
  background-color: rgb(245, 247, 246);
  color: rgba(0, 0, 0, 0.87);
}

* {
  box-sizing: border-box;
}

.tag {
  margin: 3px;
  padding: 3px 6px;
  text-decoration: none;
  border-left: solid 4px rgb(63, 100, 93);
  color: #fff;
  @apply bg-green;
}

article p {
  margin-bottom: 1.6rem;
}

article a {
  text-decoration: underline;
  color: #1976d2;
}

article hr {
  margin: 2rem 0;
}

article code {
  font-size: 90%;
  font-weight: 900;
  background-color: #fbe5e1;
  color: #c0341d;
  padding: 0 0.4rem;
}

article h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1.6rem;
}

article h4 {
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1.6rem;
}

@tailwind utilities;
