@keyframes sizeScale {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.toggled {
  animation-name: sizeScale;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
